<br>
<div class="row">
  <div class="col-md-12">
    <h5>Alcuni link utili per la creazione di Gioiosando lo Smart Social Network </h5 >
    <hr class="my-4">
    <p><a href="https://www.railstutorial.org/book">Ruby on Rails Tutorial Book</a></p>
    <p><a href="http://guides.rubyonrails.org/getting_started.html">Guida ufficiale Ruby on Rails</a></p>
    <p><a href="https://getbootstrap.com/">Twitter bootstrap</a></p>
    <p><a href="http://fontawesome.io/">Font Awesome</a></p>
</div>
</div>
